<!-- footer container-->
<div class="border-t border-gray-300">
    <footer class="py-3 text-center text-neutral-100">
      ©2023 ScreenSocial, LLC, All Rights Reserved.
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </footer>
  </div>
  <!-- end footer container-->
</body>
</html>