<%- include('./partials/header.ejs')%>
<main class="flex flex-col justify-center h-full text-center">
  <div class="flex flex-col gap-y-8">
    <h1 class="font-bold mb-4 text-2xl">Contact Us!</h1>
    <p class="mx-6 sm:text-xl">Email: contact@screensocial.com</p>
    <p class="mx-6 sm:text-xl">Phone: 1-800-542-3452</p>
    <p class="mx-6 sm:text-xl">Facebook: screensocial</p>
    <p class="mx-6 sm:text-xl">Twitter: @screensocial</p>
  </div>
</main>
<%- include('./partials/footer.ejs')%>
