<%- include('./partials/header.ejs')%>
<main class="flex flex-col justify-center h-full text-center">
  <div class="flex flex-col gap-y-8">
    <h1 class="font-bold mb-4 text-2xl">Welcome to ScreenSocial!</h1>
    <p class="mx-6 sm:text-xl">
      Join us today and be part of a vibrant community that celebrates the joy
      of movies. Whether you're a host or an attendee, ScreenSocial is your
      gateway to movie magic and shared moments.
    </p>
    <p class="mx-6 sm:text-xl">
      Lights, camera, connection — it's all here at ScreenSocial.
    </p>
  </div>
</main>
<%- include('./partials/footer.ejs')%>
